section.contact {
  padding-top: 40px;
  width: 100vw;
  height: calc(100vh - 160px);
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Quicksand", Arial, Helvetica, sans-serif;
}
