section.resume {
  padding-top: 40px;
  /* height: 100vh; */
  width: 100vw;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  /* position: absolute; */
}

.wrap-resume {
  width: 100vw;
  /* background-color: red; */
}

.wrap-resume .title-resume {
  z-index: -1;
  /* background-color: #e5e5e5; */
  background-image: url("../../public/background-gf.jpg");
  /* background-color: linear-gradient(to top, lightgray, black); */
  /* background: linear-gradient(
    0deg,
    rgba(61, 62, 62, 1) 0%,
    rgba(255, 254, 253, 1) 100%
  ); */
  /* margin-top: 40px; */
  /* margin-left: 80px; */
  /* margin-right: 80px; */
  height: 300px;
  /* height: 1000px; */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  /* row-gap: 20px; */
}

.title-1 {
  margin-top: 15px;
  display: flex;
  justify-content: center;
  /* text-align: center; */
  font-size: 2.5rem;
}

.title-1 h1:nth-child(1) {
  color: #e76f00;
}
.title-1 h1:nth-child(2) {
  color: white;
}

.content-title-resume {
  text-align: center;
  color: white;
}

/* profile sumarry */
.summary {
  position: relative;
  top: -115px;
  /* left: ; */
  /* margin-top: 0; */
  margin-left: 200px;
  margin-right: 200px;
  height: 350px;
  /* margin-top: 0; */
  background: white;
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
  background-color: #faf9f9;
  border: 1px solid black;
}

.summary figure {
  /* background-color: aquamarine; */
  border-right: 1px solid gray;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 25%;
}

.summary figure img {
  border: 1px solid black;
  height: calc(450px / 2);
  width: calc(330px / 2);
}

.summary figure figcaption {
  text-align: center;
}

.summary figure figcaption h3 {
  line-height: 1.5;
  font-size: 1.5rem;
  font-weight: 500;
}

.summary figure figcaption p {
  letter-spacing: 2px;
  font-size: 0.8rem;
}

.summary article {
  /* background-color: salmon; */
  width: 75%;
}

.summary article h2 {
  /* color: white; */
  font-weight: 400;
  font-size: 1.6rem;
  text-align: center;
}

.summary ul {
  height: 88.5%;
  /* background-color: aliceblue; */
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.summary ul li {
  margin-left: 25px;
}

.summary ul li h4 {
  font-size: 1.3rem;
  font-weight: 300;
}

.summary ul li p {
  font-size: 0.9rem;
  line-height: 1.6;
}

/*//todo mulai dash resume */

.dash-resume {
  margin-top: -80px;
  margin-left: 25px;
  margin-right: 25px;
  display: grid;
  grid-template-areas:
    "header header header"
    "garis sub-title content"
    "garis2 sub-title2 content2";
  border-bottom: 1px solid lightgray;
}

.dash-resume header {
  grid-area: header;
  /* background-color: aquamarine; */
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 80px;
}

.dash-resume header h3 {
  /* color: blue; */
}

.liner-header {
  display: flex;
  height: 45px;
  justify-content: center;
  column-gap: 5px;
  /* background-color: brown; */
}

.liner-header span {
  height: 32px;
  width: 2px;
  background-color: #e77001;
}

.liner-header span:nth-child(2) {
  position: relative;
  top: 10px;
  height: 32px;
  width: 2px;
  background-color: black;
}

/*//* content dash resume */
.dash-resume .liner-acc {
  grid-area: garis;
  display: flex;
  width: fit-content;
}

.liner-acc span:nth-child(1) {
  width: 2px;
  /* height: 140px; */
  height: 140px;
  background-color: #e76f00;
}

.liner-acc span:nth-child(2) {
  width: 12px;
  height: 12px;
  border-radius: 10px;
  background-color: #e76f00;
  position: relative;
  top: 37px;
  right: 8px;
}

.sub-title-resume {
  grid-area: sub-title;
  /* background-color: cornflowerblue; */
  width: 17vw;
  display: flex;
  align-items: center;
}

.sub-title-resume .part-content-dash {
  /* background-color: red; */
  height: 60%;
  display: flex;
  flex-direction: column;
  /* align-items: center;s */
  justify-content: space-evenly;
  row-gap: 4px;
}

.part-content-dash a {
  text-decoration: none;
  color: black;
  transition: all 0.15s ease-in;
}

.part-content-dash a h4 {
  font-weight: 600;
  letter-spacing: 1.5px;
}

.part-content-dash p {
  font-size: 0.8rem;
  letter-spacing: 1px;
}

.part-content-dash a:hover {
  text-decoration: underline;
  color: #e76f00;
}

.time-dash-resume {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3px;
  /* background-color: royalblue; */
  width: fit-content;
  height: 18px;
  border: 1px solid #e76f00;
  border-radius: 20px;
}

.time-dash-resume p {
  font-size: 0.75rem;
  line-height: 16px;
}

.dash-resume article {
  /* color: lightgray; */
  grid-area: content;
  /* background-color: aqua; */
  display: flex;
  align-items: center;
  width: 78vw;
}

.dash-resume ul li {
  display: flex;
  flex-direction: column;
  row-gap: 5px;
  list-style: none;
}

/*//* akhir content dash resume */

/*//* content dash resume 2 */
.dash-resume .liner-acc2 {
  grid-area: garis2;
  display: flex;
  width: fit-content;
  /* border-bottom: 1px solid black; */
}

.liner-acc2 span:nth-child(1) {
  width: 2px;
  height: 140px;
  background-color: #e76f00;
}

.liner-acc2 span:nth-child(2) {
  width: 12px;
  height: 12px;
  border-radius: 10px;
  background-color: #e76f00;
  position: relative;
  top: 37px;
  right: 8px;
}

.sub-title-resume2 {
  grid-area: sub-title2;
  /* background-color: cornflowerblue; */
  width: 17vw;
  display: flex;
  align-items: center;
  /* border-bottom: 1px solid black; */
}

.sub-title-resume2 .part-content-dash2 {
  /* background-color: red; */
  height: 60%;
  display: flex;
  flex-direction: column;
  /* align-items: center;s */
  justify-content: space-evenly;
  row-gap: 4px;
}

.part-content-dash2 a {
  text-decoration: none;
  color: black;
  transition: all 0.15s ease-in;
}

.part-content-dash2 a h4 {
  font-weight: 600;
  letter-spacing: 1.5px;
}

.part-content-dash2 p {
  font-size: 0.8rem;
  letter-spacing: 1px;
}

.part-content-dash2 a:hover {
  text-decoration: underline;
  color: #e76f00;
}

.time-dash-resume2 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3px;
  /* background-color: royalblue; */
  width: fit-content;
  height: 18px;
  border: 1px solid #e76f00;
  border-radius: 20px;
}

.time-dash-resume2 p {
  font-size: 0.75rem;
  line-height: 16px;
}

.dash-resume article.content-2 {
  /* color: lightgray; */
  grid-area: content2;
  /* background-color: aqua; */
  display: flex;
  align-items: center;
  width: 78vw;
}

.dash-resume ul li {
  display: flex;
  flex-direction: column;
  row-gap: 5px;
  list-style: none;
}

.dash-resume ul li p:nth-child(3) {
  letter-spacing: 1px;
  /* line-height: 10px; */
  font-size: 0.8rem;
}
/*//* akhir content dash resume 2*/

/*//todo mulai dash resume2 */
.dash-resume2 {
  /* margin-top: -80px; */
  margin: 25px;
  display: grid;
  grid-template-areas:
    "header header header"
    "garis sub-title content"
    "garis2 sub-title2 content2"
    "garis3 sub-title3 content3";
  border-bottom: 1px solid lightgray;
}

.dash-resume2 header {
  grid-area: header;
  /* background-color: aquamarine; */
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 80px;
}

.dash-resume2 header h3 {
  /* color: blue; */
}

.liner-header2 {
  display: flex;
  height: 45px;
  justify-content: center;
  column-gap: 5px;
  /* background-color: brown; */
}

.liner-header2 span {
  height: 32px;
  width: 2px;
  background-color: #e77001;
}

.liner-header2 span:nth-child(2) {
  position: relative;
  top: 10px;
  height: 32px;
  width: 2px;
  background-color: black;
}

/*//* content dash resume2 */
.dash-resume2 .liner-acc3 {
  grid-area: garis;
  display: flex;
  width: fit-content;
}

.liner-acc3 span:nth-child(1) {
  width: 2px;
  height: 140px;
  background-color: #e76f00;
}

.liner-acc3 span:nth-child(2) {
  width: 12px;
  height: 12px;
  border-radius: 10px;
  background-color: #e76f00;
  position: relative;
  top: 30px;
  right: 8px;
}

.sub-title-resume3 {
  grid-area: sub-title;
  /* background-color: cornflowerblue; */
  width: 17vw;
  display: flex;
  align-items: center;
}

.sub-title-resume3 .part-content-dash3 {
  /* background-color: red; */
  height: 60%;
  display: flex;
  flex-direction: column;
  /* align-items: center;s */
  justify-content: space-evenly;
  row-gap: 4px;
}

.part-content-dash3 a {
  text-decoration: none;
  color: black;
  transition: all 0.15s ease-in;
}

.part-content-dash3 a h4 {
  font-weight: 600;
  letter-spacing: 1.3px;
  font-size: 0.9rem;
}

.part-content-dash3 p {
  font-size: 0.8rem;
  letter-spacing: 1px;
}

.part-content-dash3 a:hover {
  text-decoration: underline;
  color: #e76f00;
}

.time-dash-resume3 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3px;
  /* background-color: royalblue; */
  width: fit-content;
  height: 18px;
  border: 1px solid #e76f00;
  border-radius: 20px;
}

.time-dash-resume3 p {
  font-size: 0.75rem;
  line-height: 16px;
}

.dash-resume2 article.content-3 {
  grid-area: content;
  display: flex;
  align-items: center;
  width: 78vw;
  height: 100%;
}

.dash-resume2 ul {
  /* background-color: salmon; */
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: space-around;
  width: 100%;
  height: 100%;
  /* width: fit-content; */
}
.dash-resume2 ul h3 {
  /* align-self: calc(center - 30px); */
  /* padding-left: 260px; */
}

.dash-resume2 ul li {
  margin-left: 20px;
}

.dash-resume2 ul li p {
  letter-spacing: 1px;
  /* line-height: 10px; */
  font-size: 0.8rem;
}
/*//* akhir content dash resume */

/* //* awal content dash resume 2 */
.dash-resume2 .liner-acc4 {
  grid-area: garis2;
  display: flex;
  width: fit-content;
}

.liner-acc4 span:nth-child(1) {
  width: 2px;
  height: 140px;
  background-color: #e76f00;
}

.liner-acc4 span:nth-child(2) {
  width: 12px;
  height: 12px;
  border-radius: 10px;
  background-color: #e76f00;
  position: relative;
  top: 37px;
  right: 8px;
}

.sub-title-resume4 {
  grid-area: sub-title2;
  /* background-color: cornflowerblue; */
  width: 17vw;
  display: flex;
  align-items: center;
}

.sub-title-resume4 .part-content-dash4 {
  /* background-color: red; */
  height: 60%;
  display: flex;
  flex-direction: column;
  /* align-items: center;s */
  justify-content: space-evenly;
  row-gap: 4px;
}

.part-content-dash4 a {
  text-decoration: none;
  color: black;
  transition: all 0.15s ease-in;
}

.part-content-dash4 a h4 {
  font-weight: 600;
  letter-spacing: 1.3px;
  font-size: 0.9rem;
}

.part-content-dash4 p {
  font-size: 0.8rem;
  letter-spacing: 1px;
}

.part-content-dash4 a:hover {
  text-decoration: underline;
  color: #e76f00;
}

.time-dash-resume4 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3px;
  /* background-color: royalblue; */
  width: fit-content;
  height: 18px;
  border: 1px solid #e76f00;
  border-radius: 20px;
}

.time-dash-resume4 p {
  font-size: 0.75rem;
  line-height: 16px;
}

.dash-resume2 article.content-4 {
  grid-area: content2;
  display: flex;
  align-items: center;
  width: 78vw;
  height: 100%;
}

.dash-resume2 article.content-4 ul {
  /* background-color: salmon; */
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: space-around;
  width: 100%;
  height: 60%;
  /* width: fit-content; */
}
/* //* akhir content dash resume 2 */

/* //* awal content dash resume 3 */
.dash-resume2 .liner-acc5 {
  grid-area: garis3;
  display: flex;
  width: fit-content;
}

.liner-acc5 span:nth-child(1) {
  width: 2px;
  height: 140px;
  background-color: #e76f00;
}

.liner-acc5 span:nth-child(2) {
  width: 12px;
  height: 12px;
  border-radius: 10px;
  background-color: #e76f00;
  position: relative;
  top: 21px;
  right: 8px;
}

.sub-title-resume5 {
  grid-area: sub-title3;
  /* background-color: cornflowerblue; */
  width: 17vw;
  display: flex;
  align-items: center;
}

.sub-title-resume5 .part-content-dash5 {
  /* background-color: red; */
  height: 60%;
  display: flex;
  flex-direction: column;
  /* align-items: center;s */
  justify-content: space-evenly;
  row-gap: 4px;
}

.part-content-dash5 a {
  text-decoration: none;
  color: black;
  transition: all 0.15s ease-in;
}

.part-content-dash5 a h4 {
  font-weight: 600;
  letter-spacing: 1.3px;
  font-size: 0.9rem;
}

.part-content-dash5 p {
  font-size: 0.8rem;
  letter-spacing: 1px;
}

.part-content-dash5 a:hover {
  text-decoration: underline;
  color: #e76f00;
}

.time-dash-resume5 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3px;
  /* background-color: royalblue; */
  width: fit-content;
  height: 18px;
  border: 1px solid #e76f00;
  border-radius: 20px;
}

.time-dash-resume5 p {
  font-size: 0.75rem;
  line-height: 16px;
}

.dash-resume2 article.content-5 {
  grid-area: content3;
  display: flex;
  align-items: center;
  width: 78vw;
  height: 100%;
}

.dash-resume2 article.content-5 ul {
  /* background-color: salmon; */
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: space-around;
  width: 100%;
  height: 60%;
}
/* //* akhir content dash resume 3 */

@media screen and (max-width: 600px) {
  .summary {
    margin-left: 10vw;
    margin-right: 10vw;
  }

  .summary figure {
    width: 35%;
    justify-content: space-evenly;
  }

  .summary figure img {
    height: calc(20vw * 1.36);
    /* width: calc(330px / 75vw); */
    width: calc(20vw);
  }

  .summary figure figcaption {
    /* height: 50%; */
    /* background-color: aqua; */
  }

  .summary figure figcaption h3 {
    line-height: 1.3;
    font-size: 0.8rem;
    font-weight: 500;
  }

  .summary figure figcaption p {
    letter-spacing: 2px;
    font-size: 0.7rem;
  }

  .summary figure figcaption p:nth-child(3) {
    font-size: 0.6rem;
  }
  .summary figure figcaption p:nth-child(4) {
    letter-spacing: 1.1px;
    font-size: 0.6rem;
  }

  .summary article {
    width: 65%;
  }

  .summary article h2 {
    font-size: 1rem;
  }

  .summary ul li h4 {
    font-size: 0.8rem;
    font-weight: 300;
  }

  .summary ul li p {
    letter-spacing: 1px;
    font-size: 0.65rem;
    line-height: 1.3;
  }
  /*! dash resume 1 */
  .dash-resume {
    /* background-color: blueviolet; */
    /* width: 100vw; */
    grid-template-areas:
      "header header"
      "garis sub-title"
      "garis content"
      "garis2 sub-title2"
      "garis2 content2";
    gap: 5px;
  }

  .dash-resume .liner-acc span:nth-child(1) {
    height: 100%;
  }

  .sub-title-resume {
    width: 160%;
    /* background-color: aqua; */
  }
  .time-dash-resume p {
    /* color: red; */
    font-size: 2rem;
  }
  /* tulisan polman */
  .part-content-dash a h4 {
    font-size: 0.75rem;
  }

  .part-content-dash p {
    font-size: 0.6rem;
    letter-spacing: 1px;
  }

  .dash-resume article {
    width: 90%;
  }

  .dash-resume article ul li h3 {
    /* color: red; */
    /* font-size: 0.9rem; */
  }

  .dash-resume ul li p {
    font-size: 0.8rem;
    letter-spacing: 1.2px;
  }

  .dash-resume ul li p:nth-child(3) {
    letter-spacing: 1.4px;
    /* line-height: 10px; */
    font-size: 0.6rem;
  }
  /* akhir dash resume 1 */
  /** awal dash resume 2 */

  .dash-resume .liner-acc2 span:nth-child(1) {
    height: 100%;
  }

  .sub-title-resume2 {
    width: 160%;
    /* background-color: aqua; */
  }
  .time-dash-resume2 p {
    /* color: red; */
    font-size: 2rem;
  }
  /* tulisan polman */
  .part-content-dash2 a h4 {
    font-size: 0.75rem;
  }

  .part-content-dash2 p {
    font-size: 0.6rem;
    letter-spacing: 1px;
  }

  .dash-resume article.content-2 {
    width: 90%;
  }
  /** akhir dash resume 2 */
  /*todo Awal dash resume 3  */
  .dash-resume2 {
    /* background-color: blueviolet; */
    /* width: 100vw; */
    grid-template-areas:
      "header header"
      "garis sub-title"
      "garis content"
      "garis2 sub-title2"
      "garis2 content2"
      "garis3 sub-title3"
      "garis3 content3";
    gap: 5px;
  }
  .dash-resume2 .liner-acc3 span:nth-child(1) {
    height: 100%;
  }

  .sub-title-resume3 {
    width: 160%;
    /* background-color: aqua; */
  }
  .time-dash-resume3 p {
    /* color: red; */
    font-size: 2rem;
  }
  /* tulisan polman */
  .part-content-dash3 a h4 {
    font-size: 0.75rem;
  }

  .part-content-dash3 p {
    font-size: 0.6rem;
    letter-spacing: 1px;
  }

  .dash-resume2 article.content-3 {
    width: 90%;
  }

  .dash-resume2 ul li h3 {
    /* color: red; */
    font-size: 0.9rem;
  }

  .dash-resume2 ul li p {
    font-size: 0.7rem;
    letter-spacing: 1.2px;
  }

  .dash-resume2 ul li p:nth-child(3) {
    letter-spacing: 1px;
    /* line-height: 10px; */
    font-size: 0.6rem;
  }
  /*todo Akhir dash resume 3  */
  /*? awal dash content 4  */

  .dash-resume2 .liner-acc4 span:nth-child(1) {
    height: 100%;
  }

  .sub-title-resume4 {
    width: 160%;
    /* background-color: aqua; */
  }
  .time-dash-resume4 p {
    /* color: red; */
    font-size: 2rem;
  }
  /* tulisan polman */
  .part-content-dash4 a h4 {
    font-size: 0.75rem;
  }

  .part-content-dash4 p {
    font-size: 0.6rem;
    letter-spacing: 1px;
  }

  .dash-resume2 article.content-4 {
    width: 90%;
  }
  /*? akhir dash content 4  */
  /** Awal content 5  */
  .dash-resume2 .liner-acc5 span:nth-child(1) {
    height: 100%;
  }

  .sub-title-resume5 {
    width: 160%;
    /* background-color: aqua; */
  }
  .time-dash-resume5 p {
    /* color: red; */
    font-size: 0.6rem;
  }
  /* tulisan polman */
  .part-content-dash5 a h4 {
    font-size: 0.75rem;
  }

  .part-content-dash p {
    font-size: 0.6rem;
    letter-spacing: 1px;
  }

  .dash-resume2 article.content-5 {
    width: 90%;
  }
  /** Akhir content 5  */
}
